---
name: Backend CI
on:
  workflow_dispatch: null
  push:
    branches:
      - main
    paths:
      - backend/**
  pull_request:
    branches:
      - main
    paths:
      - backend/**
defaults:
  run:
    working-directory: ./backend
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Iniciar Base de Dados
        run: docker compose up -d
      - name: Aguardar Base de Dados
        run: sleep 5
      - name: Setup JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: temurin
          cache: maven
      - name: Dar permissão de execução para o Maven Wrapper
        run: chmod +x mvnw
      - name: Build, Testes e SonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          ./mvnw -B clean verify
          org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -Dsonar.projectKey=geac-backed
          -Dsonar.organization=gestaodeeventosacademicoseculturais
          -Dsonar.host.url=https://sonarcloud.io
      - name: Validar Relatório de Cobertura
        run: test -f target/site/jacoco/jacoco.xml
